In [1]:
# Example of a for loop
for i in range(5):
    print("Number:", i)

Number: 0
Number: 1
Number: 2
Number: 3
Number: 4

In [3]:
# Countdown loop with blast off
for i in range(5, 0, -1):
    print(f"Countdown: {i}")

print("Blast off! 🚀")

Countdown: 5
Countdown: 4
Countdown: 3
Countdown: 2
Countdown: 1
Blast off! 🚀

In [4]:
# Day 4 - Step 1: Simple List
fruits = ["apple", "banana", "cherry", "date"]
print("Here are some fruits:", fruits)

Here are some fruits: ['apple', 'banana', 'cherry', 'date']

In [5]:
# Day 4 - Step 2: Accessing list items
fruits = ["apple", "banana", "cherry", "date"]

print("First fruit:", fruits[0])   # index 0 is the first item
print("Second fruit:", fruits[1])  # index 1 is the second item
print("Last fruit:", fruits[-1])   # negative index -1 gives the last item

First fruit: apple
Second fruit: banana
Last fruit: date

In [6]:
# Day 4 - Step 3: Modifying lists
fruits = ["apple", "banana", "cherry", "date"]

fruits.append("elderberry")   # add item to the end
fruits.insert(1, "blueberry") # insert at position 1
fruits.remove("cherry")       # remove an item

print("Updated fruits:", fruits)

Updated fruits: ['apple', 'blueberry', 'banana', 'date', 'elderberry']

In [7]:
fruits = ["apple", "banana", "cherry", "banana"]
fruits.remove("banana")
print(fruits)

['apple', 'cherry', 'banana']

In [8]:
fruits = ["apple", "banana", "cherry"]
removed_item = fruits.pop(1)   # removes item at index 1 ("banana")
print(fruits)
print("Removed:", removed_item)

['apple', 'cherry']
Removed: banana

In [9]:
fruits = ["apple", "banana", "cherry"]
fruits.remove("banana")
print(fruits)

['apple', 'cherry']

In [10]:
fruits = ["apple", "banana", "cherry"]
last_item = fruits.pop()
print(fruits)
print("Removed:", last_item)

['apple', 'banana']
Removed: cherry

In [11]:
fruits = ["apple", "banana", "cherry"]
fruits.remove("banana")
print(fruits)

['apple', 'cherry']

In [12]:
fruits = ["apple", "banana", "cherry"]
removed = fruits.pop()
print(fruits)
print("Removed:", removed)

['apple', 'banana']
Removed: cherry

In [13]:
fruits = ["apple", "cherry"]
fruits.insert(1, "banana")  # insert "banana" at index 1
print(fruits)

['apple', 'banana', 'cherry']

In [14]:
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    print("I like", fruit)

I like apple
I like banana
I like cherry

In [15]:
fruits = ["banana", "apple", "cherry", "mango"]

# Sort the list alphabetically
fruits.sort()
print("Sorted:", fruits)

# Reverse the order
fruits.reverse()
print("Reversed:", fruits)

Sorted: ['apple', 'banana', 'cherry', 'mango']
Reversed: ['mango', 'cherry', 'banana', 'apple']

In [16]:
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    print("I like", fruit)

I like apple
I like banana
I like cherry

In [17]:
fruits = ["apple", "banana", "cherry"]

for index, fruit in enumerate(fruits):
    print(f"{index}: {fruit}")

0: apple
1: banana
2: cherry

In [18]:
# A tuple of fruits
fruits = ("apple", "banana", "cherry")

print(fruits)       # Shows the whole tuple
print(fruits[0])    # Shows the first fruit
print(fruits[1])    # Shows the second fruit

('apple', 'banana', 'cherry')
apple
banana

In [19]:
fruits = ("apple", "banana", "cherry")
fruits[1] = "orange"   # Try to change "banana" → "orange"

TypeError: 'tuple' object does not support item assignment

In [20]:
fruits = ("apple", "banana", "cherry")
print(fruits[0])   # first item
print(fruits[-1])  # last item

apple
cherry

In [21]:
fruits = ("apple", "banana", "cherry")
print(fruits[0])   # first item
print(fruits[-1])  # last item

apple
cherry

In [22]:
fruits = ("apple", "banana", "cherry")

for fruit in fruits:
    print("I like", fruit)

I like apple
I like banana
I like cherry

In [23]:
fruits = ("apple", "banana", "cherry")

if "banana" in fruits:
    print("Yes, banana is in the fruits tuple!")
else:
    print("No, banana is not here.")

Yes, banana is in the fruits tuple!

In [24]:
fruits = ("apple", "banana", "cherry")

for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [25]:
fruits = ("apple", "banana", "cherry")

if "banana" in fruits:
    print("Yes, banana is in the tuple!")
else:
    print("No, banana is not in the tuple.")

Yes, banana is in the tuple!

In [26]:
fruits = ("apple", "banana", "cherry")
print(len(fruits))

3

In [27]:
fruits = ("apple", "banana", "cherry")

if "banana" in fruits:
    print("✅ Banana is in the tuple")
else:
    print("❌ Banana is NOT in the tuple")

✅ Banana is in the tuple

In [28]:
fruits = ("apple", "banana", "cherry")

if "orange" not in fruits:
    print("❌ Orange is NOT in the tuple")
else:
    print("✅ Orange is in the tuple")

❌ Orange is NOT in the tuple

In [29]:
fruits = ("apple", "banana", "cherry")

for fruit in fruits:
    print("I like", fruit)

I like apple
I like banana
I like cherry

In [30]:
fruits = ("apple", "banana", "cherry")
print("Number of fruits:", len(fruits))

Number of fruits: 3

In [31]:
fruits = ("apple", "banana", "cherry")

for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [32]:
fruits = ("apple", "banana", "cherry")

if "banana" in fruits:
    print("Yes, banana is in the fruits tuple!")
else:
    print("No, banana is not in the fruits tuple.")

Yes, banana is in the fruits tuple!

In [33]:
fruits = ("apple", "banana", "cherry")
print("The tuple has", len(fruits), "items.")

The tuple has 3 items.

In [34]:
fruits = ("apple", "banana", "cherry")

if "banana" in fruits:
    print("Yes, banana is in the fruits tuple!")
else:
    print("No, banana is not in the fruits tuple.")

Yes, banana is in the fruits tuple!

In [35]:
fruits = ("apple", "banana", "cherry")

for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [36]:
fruits = ("apple", "banana", "cherry")

for i in range(len(fruits)):
    print(f"Index {i}: {fruits[i]}")

Index 0: apple
Index 1: banana
Index 2: cherry

In [37]:
fruits = ("apple", "banana", "cherry")

# Unpack the tuple into variables
(first, second, third) = fruits

print("First fruit:", first)
print("Second fruit:", second)
print("Third fruit:", third)

First fruit: apple
Second fruit: banana
Third fruit: cherry

In [38]:
fruits = ("apple", "banana", "cherry", "orange", "mango")

# Put the first item in x, the last in z, and everything else in y
(x, *y, z) = fruits  

print("x:", x)
print("y:", y)
print("z:", z)

x: apple
y: ['banana', 'cherry', 'orange']
z: mango

In [39]:
fruits = ("apple", "banana", "cherry")

for fruit in fruits:
    print("I like", fruit)

I like apple
I like banana
I like cherry

In [40]:
fruits = ("apple", "banana", "cherry")

if "banana" in fruits:
    print("Yes, banana is in the tuple!")
else:
    print("No, banana is not here.")

Yes, banana is in the tuple!

In [41]:
fruits = ("apple", "banana", "cherry")

if "orange" in fruits:
    print("Yes, orange is in the tuple!")
else:
    print("No, orange is not here.")

No, orange is not here.

In [42]:
person = {
    "name": "Jarrod",
    "age": 46,
    "city": "Huntington Beach"
}

print(person)

{'name': 'Jarrod', 'age': 46, 'city': 'Huntington Beach'}

In [43]:
print(person["name"])   # Gets the value for the key "name"
print(person["age"])    # Gets the value for the key "age"

Jarrod
46

In [44]:
person["age"] = 47   # Updates the age  
print(person)

{'name': 'Jarrod', 'age': 47, 'city': 'Huntington Beach'}

In [45]:
person["job"] = "Developer"   # Adds a new key called "job"
print(person)

{'name': 'Jarrod', 'age': 47, 'city': 'Huntington Beach', 'job': 'Developer'}

In [46]:
person["age"] = 46   # Change the age value
print(person)

{'name': 'Jarrod', 'age': 46, 'city': 'Huntington Beach', 'job': 'Developer'}

In [47]:
person["email"] = "jarrod@example.com"
print(person)

{'name': 'Jarrod', 'age': 46, 'city': 'Huntington Beach', 'job': 'Developer', 'email': 'jarrod@example.com'}

In [48]:
removed = person.pop("city")   # removes the city
print("Removed:", removed)
print(person)

Removed: Huntington Beach
{'name': 'Jarrod', 'age': 46, 'job': 'Developer', 'email': 'jarrod@example.com'}

In [49]:
for key, value in person.items():
    print(key, ":", value)

name : Jarrod
age : 46
job : Developer
email : jarrod@example.com

In [50]:
if "age" in person:
    print("Yes, 'age' is a key in the dictionary!")
else:
    print("No, 'age' is not a key.")

Yes, 'age' is a key in the dictionary!

In [51]:
for key, value in person.items():
    print(f"{key}: {value}")

name: Jarrod
age: 46
job: Developer
email: jarrod@example.com

In [52]:
if "city" in person:
    print("Yes, 'city' is in the dictionary")
else:
    print("No, 'city' is not in the dictionary")

No, 'city' is not in the dictionary

In [53]:
removed = person.pop("city")   # remove the key "city"
print("Removed:", removed)
print(person)

KeyError: 'city'

In [54]:
removed = person.pop("age")   # remove the key "age"
print("Removed:", removed)
print(person)

Removed: 46
{'name': 'Jarrod', 'job': 'Developer', 'email': 'jarrod@example.com'}

In [55]:
person.clear()   # removes all key-value pairs
print(person)

{}

In [56]:
del person   # completely deletes the dictionary

In [57]:
person = {"name": "Jarrod", "age": 46, "city": "Huntington Beach"}

# Loop through keys
for key in person:
    print("Key:", key)

# Loop through values
for value in person.values():
    print("Value:", value)

# Loop through key-value pairs
for key, value in person.items():
    print(f"{key} → {value}")

Key: name
Key: age
Key: city
Value: Jarrod
Value: 46
Value: Huntington Beach
name → Jarrod
age → 46
city → Huntington Beach

In [58]:
phone_book = {
    "Mom": "555-1234",
    "Dad": "555-5678",
    "Best Friend": "555-9999"
}

# Look up a number
print("Mom’s number:", phone_book["Mom"])

# Add a new contact
phone_book["Boss"] = "555-1111"

# Update a number
phone_book["Dad"] = "555-0000"

# Loop through and print all contacts
for name, number in phone_book.items():
    print(f"{name}: {number}")

Mom’s number: 555-1234
Mom: 555-1234
Dad: 555-0000
Best Friend: 555-9999
Boss: 555-1111

In [59]:
phone_book = {
    "Mom": "555-1234",
    "Dad": "555-5678",
    "Best Friend": "555-9999"
}

while True:
    print("\nPhone Book Menu")
    print("1) Look up a number")
    print("2) Add a new contact")
    print("3) Update a number")
    print("4) Show all contacts")
    print("5) Quit")

    choice = input("Choose an option (1-5): ")

    if choice == "1":
        name = input("Enter the name: ")
        print(phone_book.get(name, "Not found."))

    elif choice == "2":
        name = input("Enter the new contact name: ")
        number = input("Enter the phone number: ")
        phone_book[name] = number
        print(f"Added {name}.")

    elif choice == "3":
        name = input("Enter the name to update: ")
        if name in phone_book:
            number = input("Enter the new number: ")
            phone_book[name] = number
            print(f"Updated {name}.")
        else:
            print("Contact not found.")

    elif choice == "4":
        for name, number in phone_book.items():
            print(f"{name}: {number}")

    elif choice == "5":
        print("Goodbye!")
        break

    else:
        print("Invalid choice. Try again.")

Phone Book Menu
1) Look up a number
2) Add a new contact
3) Update a number
4) Show all contacts
5) Quit

Choose an option (1-5):  1
Enter the name:  mom

Not found.

Phone Book Menu
1) Look up a number
2) Add a new contact
3) Update a number
4) Show all contacts
5) Quit

Choose an option (1-5):  2
Enter the new contact name:  Viviana
Enter the phone number:  818-800-1111

Added Viviana.

Phone Book Menu
1) Look up a number
2) Add a new contact
3) Update a number
4) Show all contacts
5) Quit

Choose an option (1-5):  4

Mom: 555-1234
Dad: 555-5678
Best Friend: 555-9999
Viviana: 818-800-1111

Phone Book Menu
1) Look up a number
2) Add a new contact
3) Update a number
4) Show all contacts
5) Quit

Choose an option (1-5):  5

Goodbye!